<footer class="py-5">
  <div class="container">
    <img src="assets/images/eduplus.png" alt="">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aliquid animi earum eius vero culpa magni totam facilis, praesentium aspernatur cumque veritatis recusandae minima? Architecto fuga odit aliquam nobis nemo ipsum velit dignissimos tempore! Laborum recusandae atque consequuntur fugiat, omnis aliquid, officia totam sint libero autem, quasi ullam perferendis ex.</h1>
    <address>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</address>
    <p>+234 675 786 99</p>
    <div class="icons">
      <span>
        <a> <img src="assets/images/icons/facebook.png"> </a>
      </span>
      <span>
        <a> <img src="assets/images/icons/linkdin.png"> </a>
      </span>
      <span>
        <a> <img src="assets/images/icons/twitter-big.png"> </a>
      </span>
      <span>
        <a> <img src="assets/images/icons/instagram-big.png"> </a>
      </span>
    </div>
  </div>
</footer>
