<app-header></app-header>
<app-header2></app-header2>

<div id="one">
  <div class="blue-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>products & <br>services</h1>
          <p style="text-align: start;">at c-bit industries our web development process employs the use of world class standards to give you secure, functional, robust, and reliable solutions.</p>
        </div>
        <div class="col-md-6">
          <div class="image1">
            <img src="assets/images/1.jpg">
          </div>
          <div class="image2">
            <img src="assets/images/4.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="two" class="py-3">
  <div class="container">
    <img src="assets/images/2.jpg">
  </div>
</div>

<div id="three" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/decide.png">
        <h2>tailor made solutions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione ex aut provident ut adipisci, maiores esse doloribus ea dolore itaque quidem quasi fugit ipsa ipsam sint vero consequuntur qui!</p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/virtually.png">
        <h2>budject friendly solutions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione ex aut provident ut adipisci, maiores esse doloribus ea dolore itaque quidem quasi fugit ipsa ipsam sint vero consequuntur qui!</p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/decide.png">
        <h2>industry best practices</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione ex aut provident ut adipisci, maiores esse doloribus ea dolore itaque quidem quasi fugit ipsa ipsam sint vero consequuntur qui!</p>
      </div>
    </div>
  </div>
</div>

<div id="four" class="py-3">
  <div class="container">
    <h1 class="title">SynCBit</h1>
    <h1 class="title">time tracking application</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-2-card">
      <div class="col-md-6">
        <div class="card">
          <span>monthly/forthnightly timesheet approval workflow</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>offline capability with PWA technology</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>CSV bulk user import</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>advanced searching and filtering</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>download and print timesheet</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
    <hr>
  </div>
</div>

<div id="five" class="py-3 mb-5">
  <div class="container">
    <h1 class="title">HBit</h1>
    <h1 class="title">human resource management</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-4-card">
      <div class="col-md-3">
        <div class="card">
          <span>e-forms</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>requitment management</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>and many more</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>advanced employee profile management</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>company training management</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>leave and time off management</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>robust access control and data security</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
  </div>
</div>

<div id="six" class="py-3 bg-blue">
  <div class="container">
    <h1 class="title mt-5">Bit-mart</h1>
    <h1 class="title">e-commerce platform for africa</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-4-card">
      <div class="col-md-3">
        <div class="card">
          <span>store creation</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>SEO & marketing</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>50+ payment gateways</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>23/7 support</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-2-card">
      <div class="col-md-6">
        <div class="card">
          <span>customization of store look and feel</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>robust store management</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
    <hr>
  </div>
</div>

<div id="seven" class="pb-5 pt-3 bg-blue">
  <div class="container">
    <h1 class="title">5C-hub</h1>
    <h1 class="title">facility management platform</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-2-card-alone">
      <div class="col-md-6">
        <div class="card">
          <span>customer module to make request and track progress</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>admin module to manage customer request and assign 5C pros's</span>
        </div>
      </div>
    </div>

    <div class="row by-2-card-alone-2 mt-5">
      <div class="col-md-6">
        <div class="card">
          <span>5c mantianance pro module to manage assigned jobs</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>payment module(paystack) integration</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card-alone">
      <div class="col-md-4">
        <div class="card">
          <span>automated emailing system</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>live chat and analytics</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>advanced search module</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
  </div>
</div>

<div id="eight" class="py-5">
  <div class="container">
    <h1 class="title">5C limited</h1>
    <h1 class="title">business support and reqitment platform</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-3-card mt-5">
      <div class="col-md-4">
        <div class="card">
          <span>frontend include graphic design</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>advanced search module</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>onpage SEO for all pages</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>live chat and analytics</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>designed and implemented an efficient and easy to use requitment portal</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>robust content management system for system admin</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
    <hr>
  </div>
</div>

<div id="nine" class="pb-5">
  <div class="container">
    <h1 class="title">the delivery </h1>
    <h1 class="title">application for africa</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-3-card mt-5">
      <div class="col-md-4">
        <div class="card">
          <span>frontend include graphic design</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>advanced search module</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>onpage SEO for all pages</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>live chat and analytics</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>designed and implemented an efficient </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>robust content management system</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">go to project</button>
  </div>
</div>

<div id="ten" class="py-3 bg-blue">
  <div class="container">
    <h1 class="title mt-5">web design</h1>
    <h1 class="title">development and management</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>store creation</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>SEO & marketing</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>50+ payment gateways</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-2-card">
      <div class="col-md-6">
        <div class="card">
          <span>customization of store look and feel</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>robust store management</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">see more</button>
    <hr>
  </div>
</div>

<div id="eleven" class="pb-5 pt-3 bg-blue">
  <div class="container">
    <h1 class="title">digital marketing</h1>
    <h1 class="title">and content management</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>store creation</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>SEO & marketing</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>50+ payment gateways</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-2-card">
      <div class="col-md-6">
        <div class="card">
          <span>customization of store look and feel</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span>robust store management</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">see more</button>
  </div>
</div>

<div id="twelve" class="py-5">
  <div class="container">
    <h1 class="title">social media </h1>
    <h1 class="title">marketing and management</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-4-card-alone mt-5">
      <div class="col-md-3">
        <div class="card">
          <span>frontend include </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>advanced search module</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>onpage SEO for all pages</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <span>onpage SEO for all pages</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card-alone">
      <div class="col-md-4">
        <div class="card">
          <span>live chat and analytics</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>designed and implemented </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>robust content management</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">see more</button>
    <hr>
  </div>
</div>

<div id="thirteen" class="pb-5">
  <div class="container">
    <h1 class="title">bit-pay</h1>
    <h1 class="title">peer to peer payment platform</h1>
    <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate praesentium assumenda quidem numquam alias ipsa officia beatae, nemo doloribus mollitia, id fugit nostrum molestiae sit nesciunt expedita quaerat maxime. Quisquam, recusandae cum consequatur aperiam repellat iusto quasi molestias doloribus qui accusamus asperiores porro provident odio ipsam. Nesciunt est illum voluptates.</p>
    <div class="row by-3-card mt-5">
      <div class="col-md-4">
        <div class="card">
          <span>frontend include graphic design</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>advanced search module</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>onpage SEO for all pages</span>
        </div>
      </div>
    </div>

    <div class="row mt-5 by-3-card">
      <div class="col-md-4">
        <div class="card">
          <span>live chat and analytics</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>designed and implemented an efficient </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>robust content management system</span>
        </div>
      </div>
    </div>

    <button class="special-btn btn mt-5">coming soon</button>
  </div>
</div>

<div id="fourteen" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <h1>not sure how to start</h1>
        <p>dont worry leave us some details on your <br>project and we will contact you within 24 hours.</p>
        <form action="" class="mt-5">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="full name">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="company name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="industry">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="phone no">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="email">
              <input type="text" class="form-control" placeholder="attach files">
            </div>
            <div class="col-md-6">
              <textarea cols="30" rows="5" class="form-control">tell us about your project</textarea>
            </div>
          </div>
          <button class="btn special-btn-2 wahala">submit</button>
        </form>
      </div>
      <div class="col-md-3">
        <h1 style="font-size: 1.5rem; color: #aaa;" class="moved">you're in good company</h1>
        <div class="row move">
          <div class="col-md-6">
            <div class="card">
              <img src="assets/images/1.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="assets/images/1.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="row move">
          <div class="col-md-6">
            <div class="card">
              <img src="assets/images/1.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="assets/images/1.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="row moving">
          <div class="col-md-8">
            <div class="card">
              <img src="assets/images/1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fifteen" class="bg-blue py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>get news and updates</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In molestiae itaque deserunt minus tempora at repellat pariatur eius minima reprehenderit?</p>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="your email address">
        <a href=""><img src="assets/images/icons/send.png" alt=""></a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>


